<main>
  <div class="card">
    <h2>Chestionar</h2>
    <form method="POST" action="/rezultat-chestionar">
      <% for (let item of intrebari) { %>
        <fieldset>
          <legend><%= item.intrebare %></legend>
          <% for (let varText of item.variante) { %>
            <div>
              <input
                type="radio"
                name="<%= item.intrebare %>"
                value="<%= varText %>"
              />
              <label><%= varText %></label>
            </div>
          <% } %>
        </fieldset>
      <% } %>
      <button type="submit" class="button">💌 Trimite</button>
    </form>
  </div>
</main>
