<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <title>PW</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <h1>Documente</h1>
        </header>

        <main>
            <%-body %>
        </main>

        <footer>
            <p>&copy; 2025 Topiță Andreea</p>
        </footer>

    </body>
</html>