
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f7f2f8;
  color: #000000;
}


header {
  position: relative;
  background: #f2dce6e6;   
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 28px;
  color: #000000;
  text-align: center;
}

header h1::before {
  content: "📄";
  margin-right: 8px;
  font-size: 28px;
}

header nav {
  position: absolute;
  top: 16px;
  right: 32px;
  display: flex;
  align-items: center;
  font-size:18px;
  color: #000000;
}

header nav span {
  margin-right: 12px;
}

header nav a.logout {
  color: #000000;  
  text-decoration: none;
  font-weight: bold;
}

header nav a.logout:hover {
  text-decoration: underline;
}


main {
  width: 90%;
  max-width: 700px;
  margin: 24px auto;
  padding: 0 16px;
}


.card {
  background: #fff8fddb;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(45, 0, 55, 0.436);
  margin-bottom: 24px;
}


h2 {
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
}


.button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;     
  background: #98497a;
  color: #fff;
  text-decoration: none;  
  border: none;           
  border-radius: 4px;
  margin: 18px auto 0;    
  text-align: center;
  cursor: pointer;
}
.card .button {
  display: block;
  width: 280px;           
  margin: 16px auto 0;
}

.button:hover {
  background: #d886b7cf;
}

form {
  display: flex;
  flex-direction: column;
  
}

.card fieldset {
  padding: 4px 10px;      
  margin-bottom: 16px;     
}

.card legend {
  margin-bottom: 0;        
  padding: 0 4px;
}

fieldset {
  border: 1px solid #d3c0cc;
  border-radius: 4px;
  padding: 8px;           
  margin-bottom: 16px;
}

legend {
  font-weight: bold;
  font-size: 16px;
  padding: 0 4px;
  display: block;
  margin-bottom: 4px;     
}

fieldset div {
  margin-top: 1px;        
}

label {
  margin-left: 4px;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 5px;  
}

.error {
  color: #ea0000;    

  font-size: 17px;
}

.card form {
  margin-top: 12px;
}
.card input[type="text"],
.card input[type="password"] {
  width: 100%;
  margin-top: 4px;
}


footer {
  padding: 10px;
  font-size: 17px;
  color: #050405;
  text-align: left;
}
